<div class="multiChat">
    <div class="chatb">
        <div class="chat" *ngIf="displayOrNo">
        
            <h2>Envoyer message ou vendeur 1</h2>
            <div class="destinateur">
                <img src="./image/FB_IMG_15932814078060559.jpg" alt="" srcset="">
                <h1>E-magasine</h1>
            </div>

            <div class="interface_chat">
                <button class="close" title="Fermer ce discuission" (click)="showOrHiddenChat()">x</button>
                <div class="zonediscussion">
                    <div class="sender">
                        <div class="pdp" title="Mpivarotra an'ny Alaotra">
                            <img src="./image/FB_IMG_15932814078060559.jpg" alt="">
                        </div>
                        <div class="messagetext">
                            <i>misaotra e</i>
                        </div>
                    </div>
                    <div class="receiver">
                        <div class="messagetext" title="e-mangasine">
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana
                                tsy misy fisaorana etsy misy fisaorana etsy misy fisaorana etsy misy fisaorana ee</i>
                        </div>
                    </div>
                    <div class="sender">
                        <div class="pdp" title="e-mangasine">
                            <img src="./image/FB_IMG_15932814078060559.jpg" alt="">
                        </div>
                        <div class="messagetext">
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e misaotra emisaotra emisaotra emisaotra emisaotra emisaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                        </div>
                    </div>
                    <div class="receiver">
                        <div class="messagetext">
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana
                                tsy misy fisaorana etsy misy fisaorana etsy misy fisaorana etsy misy fisaorana ee</i>
                        </div>
                    </div>

                </div>
                <div class="zonesaisie">
                    <button mat-button class="ajouterimg">IMGE</button>
                    <textarea name="" id=""></textarea>
                    <button mat-button class="envoyer">Envoyer</button>
                </div>
            </div>
        </div>
        <div class="chat" *ngIf="displayOrNo" >
            <h2>Envoyer message ou vendeur 2</h2>
            <div class="destinateur">
                <img src="./image/FB_IMG_15932814078060559.jpg" alt="" srcset="">
                <h1>E-magasine</h1>
            </div>

            <div class="interface_chat">
                <button class="close" title="Fermer ce discuission" (click)="showOrHiddenChat()">x</button>
                <div class="zonediscussion">
                    <div class="sender">
                        <div class="pdp" title="Mpivarotra an'ny Alaotra">
                            <img src="./image/FB_IMG_15932814078060559.jpg" alt="">
                        </div>
                        <div class="messagetext">
                            <i>misaotra e</i>
                        </div>
                    </div>
                    <div class="receiver">
                        <div class="messagetext" title="e-mangasine">
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana
                                tsy misy fisaorana etsy misy fisaorana etsy misy fisaorana etsy misy fisaorana ee</i>
                        </div>
                    </div>
                    <div class="sender">
                        <div class="pdp" title="e-mangasine">
                            <img src="./image/FB_IMG_15932814078060559.jpg" alt="">
                        </div>
                        <div class="messagetext">
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e misaotra emisaotra emisaotra emisaotra emisaotra emisaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                        </div>
                    </div>
                    <div class="receiver">
                        <div class="messagetext">
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana
                                tsy misy fisaorana etsy misy fisaorana etsy misy fisaorana etsy misy fisaorana ee</i>
                        </div>
                    </div>

                </div>
                <div class="zonesaisie">
                    <button mat-button class="ajouterimg">IMGE</button>
                    <textarea name="" id=""></textarea>
                    <button mat-button class="envoyer">Envoyer</button>
                </div>
            </div>
        </div>
        <div class="chat" *ngIf="displayOrNo">
            <h2>Envoyer message ou vendeur 3</h2>
            <div class="destinateur">
                <img src="./image/FB_IMG_15932814078060559.jpg" alt="" srcset="">
                <h1>E-magasine</h1>
            </div>

            <div class="interface_chat">
                <button class="close" title="Fermer ce discuission" (click)="showOrHiddenChat()">x</button>
                <div class="zonediscussion">
                    <div class="sender">
                        <div class="pdp" title="Mpivarotra an'ny Alaotra">
                            <img src="./image/FB_IMG_15932814078060559.jpg" alt="">
                        </div>
                        <div class="messagetext">
                            <i>misaotra e</i>
                        </div>
                    </div>
                    <div class="receiver">
                        <div class="messagetext" title="e-mangasine">
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana
                                tsy misy fisaorana etsy misy fisaorana etsy misy fisaorana etsy misy fisaorana ee</i>
                        </div>
                    </div>
                    <div class="sender">
                        <div class="pdp" title="e-mangasine">
                            <img src="./image/FB_IMG_15932814078060559.jpg" alt="">
                        </div>
                        <div class="messagetext">
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e misaotra emisaotra emisaotra emisaotra emisaotra emisaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                            <i>misaotra e</i>
                        </div>
                    </div>
                    <div class="receiver">
                        <div class="messagetext">
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana e</i>
                            <i>tsy misy fisaorana
                                tsy misy fisaorana etsy misy fisaorana etsy misy fisaorana etsy misy fisaorana ee</i>
                        </div>
                    </div>

                </div>
                <div class="zonesaisie">
                    <button mat-button class="ajouterimg">IMGE</button>
                    <textarea name="" id=""></textarea>
                    <button mat-button class="envoyer">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
</div>