<div class="google">
    <div class="resultat-google">
        <div class="header-resultat">
            <div *ngIf="!awaiting">
                {{len}} <span *ngIf="len>0"> resultat{{genre}}</span> found{{genre}}
            </div>
            <div class="awaiting" *ngIf="awaiting">
                <p>Awaiting...</p>
            </div>
        </div>
        <hr>
        <div class="resultat-show">
           <div *ngIf="yes">
            <div *ngFor="let res of resultat">
                <div class="every-resultat" id="{{res._id}}">
                    <div class="image-resultat">
                        <img src="http://localhost:8090/{{res.avatar}}" alt="">
                    </div>
                    <div class="contenu-resultat">
                        <h1>{{res.name}}</h1>
                        <p>{{res.description}}</p>
                        <small>
                            <span><img src="../../../assets/image/location-black.png" alt=""></span>
                            {{res.lieu}}
                        </small>
                    </div>
                    <div class="action-resultat">
                        <button mat-button (click)="close(res._id)"><img src="../../../assets/image/no.png"
                                alt=""></button>
                    </div>

                </div>
            </div>
           </div>

        </div>
    </div>
</div>