<div class="sms">
    <div class="container-sms">
        <div class="header-sms">
            <img src="../../../assets/image/tokihery1.jpg" alt="">
            <div class="info-sms-envoyeur">
                <h2>Tokihery</h2>
                <small>+216342604709</small>
            </div>
            <div class="plus-sms">
                <button mat-button> <img src="../../../assets/image/phone-white.png" alt=""></button>
                <button mat-button> <img src="../../../assets/image/tag-white.png" alt=""></button>
            </div>
        </div>
        <div class="body-sms">
            <div class="sender">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam fugit quis aspernatur sapiente
                    sunt ratione illo facere, optio quibusdam eos animi iure quidem rerum dolor fuga sequi voluptatum
                    similique.</p>
                <small>Il y a 5 minutes</small>
            </div>
            <div class="sender">
                <p>Lorem ipsum dolor sit amet, .</p>
                <small>Il y a 5 minutes</small>
            </div> 
            <div class="receiver">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam fugit quis aspernatur sapiente.</p>
                <small>A l'instant</small>
            </div>
            <div class="sender">
                <p>Lorem ips.</p>
                <small>Il y a 5 minutes</small>
            </div>
            <div class="sender">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam fugit quis aspernatur sapiente
                    sunt ratione illo facere, optio quibusdam eos animi iure quidem rerum dolor fuga sequi voluptatum
                    similique.</p>
                <small>Il y a 5 minutes</small>
            </div>
            <div class="receiver">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam fugit quis aspernatur sapiente
                    sunt ratione illo facere, optio quibusdam eos animi iure quidem rerum dolor fuga sequi voluptatum
                    similique.</p>
                <small>A l'instant</small>
            </div>
            <div class="sender">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam fugit quis aspernatur sapiente
                    sunt ratione illo facere, optio quibusdam eos animi iure quidem rerum dolor fuga sequi voluptatum
                    similique.</p>
                <small>Il y a 5 minutes</small>
            </div>
            <div class="receiver">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam fugit quis aspernatur sapiente
                    sunt ratione illo facere, optio quibusdam eos animi iure quidem rerum dolor fuga sequi voluptatum
                    similique.</p>
                <small>A l'instant</small>
            </div>
            <div class="sender">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam fugit quis aspernatur sapiente
                    sunt ratione illo facere, optio quibusdam eos animi iure quidem rerum dolor fuga sequi voluptatum
                    similique.</p>
                <small>Il y a 5 minutes</small>
            </div>
            <div class="receiver">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam fugit quis aspernatur sapiente
                    sunt ratione illo facere, optio quibusdam eos animi iure quidem rerum dolor fuga sequi voluptatum
                    similique.</p>
                <small>A l'instant</small>
            </div>
            <div class="sender">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam fugit quis aspernatur sapiente
                    sunt ratione illo facere, optio quibusdam eos animi iure quidem rerum dolor fuga sequi voluptatum
                    similique.</p>
                <small>Il y a 5 minutes</small>
            </div>
            <div class="receiver">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsam fugit quis aspernatur sapiente
                    sunt ratione illo facere, optio quibusdam eos animi iure quidem rerum dolor fuga sequi voluptatum
                    similique.</p>
                <small>A l'instant</small>
            </div>
        </div>
        <div class="input-sms">
            <input type="text" placeholder="New message">
            <button mat-button>Envoyer</button>
        </div>
        <div class="new-sms">
            <button mat-fab><img src="../../../assets/image/plus-white.png" alt=""></button>
        </div>
    </div>
</div>