<div class="apk-apk">
    <div class="apk">
        <button mat-fab><a routerLink="/lovenatiora">Natiora</a></button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab ><a routerLink="/other" (click)="gotoNoLidt()">Natiora</a></button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab (click)="alertOk()">Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div><div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
    <div class="apk">
        <button mat-fab>Hello</button>
        <small>lovenatiora</small>
    </div>
</div>
<div class="pointnavire">
    <span></span>
</div>
